body {
  /* text-align: center; */
}

.app {
  padding: 1rem;
}

.row {
  display: flex;
  position: relative;
  flex-wrap: wrap;
}

.panel {
  width: 100%;
  position: relative;
  max-width: 911px;
}

@media (min-width: 1350px) {
  .panel {
    width: calc(100% - 1000px);
  }
}

.result {
  width: 100vw;
  max-width: 911px;
  position: relative;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.result img {
  max-width: 100%;
}


@media (min-width: 1350px) {
  .result {
    min-width: 1000px;
    width: 1000px;
    position: fixed;
    right: 0;
    top: 10;
    height: 100vh;
    width: 400px;
    overflow-y: auto;
    background: #fff;
    box-sizing: border-box;
    z-index: 999;
    display: flex;
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
}

.result .url {
  max-width: 100%;
  margin: 20px auto;
  background: #eee;
  color: blue;
  padding: 1rem;
  font-size: 16px;
  border-radius: 8px;
  word-break: break-all;
  text-align: left;
  cursor: pointer;
}

.result .copy-btn {
  border: none;
  background: #494949;
  color: white;
  padding: 0.5rem 1rem;
  border-radius: 0.25rem;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
}

.result .copy-btn:hover {
  background: #5a5a5a;
}

.options {
  border: 1px solid #e7e7e7;
  flex-wrap: wrap;
  display: flex;
  justify-content: space-between;
}

.group {
  text-align: left;
  width: 100%;
  flex: 0 0 100%;
  margin: 0.75rem 0rem;
}

.group label {
  margin-left: 1rem;
}

@media (min-width: 1700px) {
  .group {
    width: 49%;
    flex: 0 0 49%;
  }
}

.desc {
  margin: 0px;
  color: #979797;
  font-size: 13px;
  margin-left: 1rem;
}

.desc a {
  color: #979797;
}

.group-head {
  padding: 4px 0px 4px 16px;
  width: calc(100% - 16px);
  flex: 0 0 calc(100% - 16px);
  background: #494949;
  color: white;
  margin: 0px;
}